[Unit]
Description=Autoplay
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
Restart=no
ExecStart=/usr/bin/autoplay

[Install]
WantedBy=graphical-session.target
